@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~react-toastify/dist/ReactToastify.min.css';

#root {
  width: 100vw;
  height: 100vh;
}

.main-header .navbar-nav .nav-item .nav-link {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.vh-container{
  height: calc(100vh - 200px);
}

.nav-sidebar::-webkit-scrollbar{
  display:none;
  overflow-y: hidden;
}


.svg-nav-icon{
  fill: currentColor;
  width: 28px;
  height: 28px;
}

.content-full-height {
    height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px) - calc(2.66rem + 35px));
    padding-bottom: 0.5rem;
    position:relative;
}

.fullscreen{
    position:fixed;
    left:  0px;                /* 左からの位置指定 */
    top: 0px;                  /* 上からの位置指定 */
    right:  0px;                /* 左からの位置指定 */
    bottom: 0px;                  /* 上からの位置指定 */
    height: 100vh!important;
    width: 100vw!important;
}


.fullscreen-btn{
    position:absolute;
    right:  10px;                /* 左からの位置指定 */
    top: 10px;                  /* 上からの位置指定 */
}


.gd-canvas{
  width: 100% !important;
  height: 100% !important;
}
.gd-treeview::-webkit-scrollbar {
  display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}
